.pagination {
    margin-left: 0;
    margin-bottom: 1rem;

    .small-screen {
        display: none;
    }
}

.pagination::after {
    clear: both;
}

.pagination li {
    display: inline-block;
}

.pagination-arrow {
    margin: 0 0.5rem 0 0.5rem;
    color: #101010;
    cursor: pointer;

    &.disabled-arrow {
        color: #101010;
        filter: opacity(0.5);
        cursor: default;
    }
}

.pagination-range {
    margin: 0.3rem;
    padding: 0.1875rem 0.625rem;
    color: #1f1f1f;
    cursor: pointer;

    &.current-page {
        border: 1px solid #101010;
        color: #101010;
        cursor: default;
    }
}

.range-per-page {
    margin-left: 1rem;
    color: #101010;
}


@media screen and (max-width: 601px) {
    .pagination.responsive .small-screen {
        display: inline-block;
    }

    .pagination.responsive li:not(.small-screen):not(.pagination-arrow) {
        display: none;
    }
}