<pagination-template #p="paginationApi" [id]="id" [maxSize]="maxSize" (pageChange)="pageChange.emit($event)">
    <ul class="pagination" role="navigation" [attr.aria-label]="screenReaderPaginationLabel"
        [class.responsive]="responsive" *ngIf="!(autoHide && p.pages.length <= 1)">
        <li class="pagination-arrow" *ngIf="directionLastFirst" [class.disabled-arrow]="p.isFirstPage()">
            <a tabindex="0" *ngIf="!p.isFirstPage(); else disabledFirst" (click)="p.firstPage()"
                (keyup.enter)="p.firstPage()" [attr.aria-label]="firstLabel + ' ' + screenReaderPageLabel">
                {{ firstLabel }}
            </a>
            <ng-template #disabledFirst>
                {{ firstLabel }}
            </ng-template>
        </li>
        <li class="pagination-arrow arrow-previous" *ngIf="directionPreviousNext"
            [class.disabled-arrow]="p.isFirstPage()">
            <a tabindex="0" *ngIf="!p.isFirstPage(); else disabledPrevious" (keyup.enter)="p.previous()"
                (click)="p.previous()" [attr.aria-label]="previousLabel + ' ' + screenReaderPageLabel">
                {{ previousLabel }}
            </a>
            <ng-template #disabledPrevious>
                {{ previousLabel }}
            </ng-template>
        </li>

        <li class="small-screen">
            {{ p.getCurrent() }} / {{ p.totalPages() }}
        </li>

        <li [class.current-page]="p.getCurrent() === page.value" *ngFor="let page of p.pages" class="pagination-range">
            <a tabindex="0" (keyup.enter)="p.setCurrent(page.value)" (click)="p.setCurrent(page.value)"
                *ngIf="p.getCurrent() !== page.value" [attr.aria-label]="page.label + ' ' + screenReaderPageLabel">
                <span>{{ page.label }}</span>
            </a>
            <ng-container *ngIf="p.getCurrent() === page.value">
                <span [attr.aria-label]="screenReaderCurrentLabel">{{ page.label }}</span>
            </ng-container>
        </li>
        <li class="pagination-arrow pagination-next" *ngIf="directionPreviousNext"
            [class.disabled-arrow]="p.isLastPage()">
            <a tabindex="0" *ngIf="!p.isLastPage(), else disabledNext" (keyup.enter)="p.next()" (click)="p.next()"
                [attr.aria-label]="nextLabel + ' ' + screenReaderPageLabel">
                {{ nextLabel }}
            </a>
            <ng-template #disabledNext>
                {{ nextLabel }}
            </ng-template>
        </li>
        <li class="pagination-arrow" *ngIf="directionLastFirst" [class.disabled-arrow]="p.isLastPage()">
            <a tabindex="0" *ngIf="!p.isLastPage(); else disabledLast" (click)="p.lastPage()"
                (keyup.enter)="p.lastPage()" [attr.aria-label]="lastLabel + ' ' + screenReaderPageLabel">
                {{ lastLabel }}
            </a>
            <ng-template #disabledLast>
                {{ lastLabel }}
            </ng-template>
        </li>
        <li *ngIf="rangePerPage.length > 1">
            <select class="range-per-page" (change)="setPerPage($event)">
                <option [value]="op" *ngFor="let op of rangePerPage">{{op}}</option>
            </select>
        </li>

    </ul>
</pagination-template>