.custom-pagination {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    position: relative;
}

.pagination-arrow {
    border: 1px solid #232323;
    cursor: pointer;
    color: #fff;
    background-color: rgb(104, 104, 104);
    padding: 5px;
    
    &.arrow-previous {
        border-right: 0;
        // border-radius: 5px 0 0 5px;
    }
    

    &.disabled-arrow {
        cursor: default;
        color: #757575;
    }
}

.pagination-range {
    border: 1px solid #232323;
    color: rgb(51, 51, 51);
    padding: 5px;
    cursor: pointer;
    width: 2rem;
    text-align: center;
    border-right: 0;
    background: #757575;

    // &:nth-child(even) {
    //     background-color: #747474;
    // }
    
    &.current-page {
        color: #fff;
    }
}

#perPage {
    position: absolute;
    right: 0%;
    background-color: rgb(104, 104, 104);
    padding: 5px;
    border: 1px solid #232323;
    color: #fff;
    font-weight: 700;

}
