<div class="table-responsive">
    <table>
        <thead>
            <th [attr.colspan]="configuracaoTabela.colunas.length">Table Object</th>
        </thead>
        <tbody>
            <tr>
                <th *ngFor="let coluna of configuracaoTabela.colunas" [sort]="coluna.sort? coluna.propriedade: ''"
                    [order]="coluna.sort? coluna.sort!.order: false" nameTable="object">
                    {{coluna.titulo}}
                </th>
            </tr>
        </tbody>
        <tfoot>
            <tr *ngFor="let person of peoplePaginate$ | async | sort: 'object': 'data' | pagination: config">
                <td *ngFor="let coluna of configuracaoTabela.colunas" [innerHTML]="obterValor(person, coluna)"
                    [style.color]="obterColor(person, coluna)" [ngClass]="obterClass(person, coluna)">
                </td>

            </tr>
        </tfoot>
    </table>
</div>

<pagination-directive #p="paginationService" [maxSize]="2" [id]="config.id" (pageChange)="getPeoplesPaginate($event)">
    <div class="custom-pagination">
        <div class="pagination-arrow" [class.disabled-arrow]="p.isFirstPage()">
            <a *ngIf="!p.isFirstPage(); else disabledFirst" (click)="p.firstPage()">
                << </a>
                    <ng-template #disabledFirst>
                        << </ng-template>
        </div>
        <div class="pagination-arrow arrow-previous" [class.disabled-arrow]="p.isFirstPage()">
            <a *ngIf="!p.isFirstPage(); else disabledPrevious" (click)="p.previous()">
                < </a>
                    <ng-template #disabledPrevious>
                        < </ng-template>
        </div>
        <div *ngFor="let page of p.pages" class="pagination-range" [class.current-page]="p.getCurrent() === page.value">
            <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                <span>{{ page.label }}</span>
            </a>
            <div *ngIf="p.getCurrent() === page.value">
                <span>{{ page.label }}</span>
            </div>
        </div>
        <div class="pagination-arrow arrow-next" [class.disabled-arrow]="p.isLastPage()">
            <a *ngIf="!p.isLastPage(); else disabledNext" (click)="p.next()"> > </a>
            <ng-template #disabledNext>
                > </ng-template>
        </div>
        <div class="pagination-arrow arrow-next" [class.disabled-arrow]="p.isLastPage()">
            <a *ngIf="!p.isLastPage(); else disabledLast" (click)="p.lastPage()">
                >>
            </a>
            <ng-template #disabledLast> >> </ng-template>
        </div>

        <select name="perPage" id="perPage" [(ngModel)]="config.itemsPerPage" (change)="getPeoplesPaginate()">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
    </div>
</pagination-directive>