* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

table {
    border: 1px solid rgb(51, 51, 51);
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    
    thead {
        background-color: rgb(51, 51, 51);

        tr {
            
            th {
                padding: 5px;
                border: none;
                color: rgb(233, 233, 233);
                fill: rgb(233, 233, 233);

                &:not(:last-child) {
                    border-right: 1px solid rgb(104, 104, 104);
                }
            }
        }
        
    }

    tbody {
        text-align: center;
        background: rgb(104, 104, 104);
        font-size: 0.85rem;
        
        tr {
            &:nth-child(even) {
                background-color: #747474;
            }
            
            
            td {
                padding: 5px;
                color: rgb(233, 233, 233);
            }
        }

    }
}