* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    // align-content: stretch;
    // justify-content: center;
    align-items: center; 
    flex-direction: column;
    flex-flow: '' wrap;
    gap: 20px 20px;
    padding: 20px;
    margin-bottom: 20px;
    
    // overflow: auto;
    
    &::before, &::after {
        content: '';  /* Insert pseudo-element */
        margin: auto ; /* Make it push flex items to the center */
    }
    
    // border: 1px solid red;
}


table {
    width: 40%;
    border: 1px solid rgb(51, 51, 51);
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;

    thead {
        th {
            padding: 5px;
            color: rgb(233, 233, 233);
        }
    }
    
    tbody {
        tr {
            
            th {
                background-color: rgb(51, 51, 51);
                position: sticky; 
                top: 0;
                padding: 5px;
                color: rgb(233, 233, 233);
                fill: rgb(233, 233, 233);

                &:not(:last-child) {
                    // border-right: 1px solid rgb(104, 104, 104);
                    box-shadow: inset -1px 0px 0px rgb(104, 104, 104),
                }
            }
        }
        
    }

    tfoot {
        width: 100%;
        text-align: center;
        background: rgb(104, 104, 104);
        font-size: 0.85rem;
        
        tr {
            &:nth-child(even) {
                background-color: #747474;
            }
            
            
            td {
                padding: 5px;
                color: rgb(233, 233, 233);
            }
        }

    }
}

.people-birthdate {
    border-radius: 100%;
    content: "";
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 0.25rem;

    &.isSame { background-color: #109890; }
    &.isBirthDay { background-color: #453070; }
    &.isBefore { background-color: #232323; }
    &.isAfter { background-color: #505050; }
    
}

.titulo-table {
    border: 1px solid red;
    width: 100% !important;
    margin: 0 auto;
}

// td::before {
//     display: inline-block;
//     content: "";
//     width: 1rem;
//     height: 1rem;
//     -moz-border-radius: 7.5px;
//     -webkit-border-radius: 7.5px;
//     border-radius: 7.5px;
//     margin: 0 auto;
//     background-color: #fff;
// }
