<div class="table-responsive">
    <table>
        <thead>
            <th [attr.colSpan]="configuracaoTabela.colunas.length">Table Traditional</th>
        </thead>
        <tbody>
            <tr>
                <th>Traffic Light</th>
                <th sort="firstName" nameTable="trad" order="asc" float="left">
                    First Name
                </th>
                <th sort="lastName" nameTable="trad" float="right">Last Name</th>
                <th sort="birthDate" nameTable="trad" order="desc">Birth Date</th>
            </tr>
        </tbody>
        <tfoot>
            <tr *ngFor="let person of people | sort: 'trad' | pagination: config">
                <td [ngClass]="obterClass(person, colunaTrafficLight)"></td>
                <td>{{ person.firstName }}</td>
                <td>{{ person.lastName }}</td>
                <td [style.color]="obterColor(person, colunaBirthDate)"
                    [innerHTML]="obterValor(person, colunaBirthDate)">{{ person.birthDate | date:'dd/MM/yyyy' }}
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<pagination-controls [id]="config.id" [maxSize]="pagination.maxSize" [autoHide]="pagination.autoHide"
    [responsive]="pagination.responsive" [previousLabel]="pagination.previousLabel" [nextLabel]="pagination.nextLabel"
    [firstLabel]="pagination.firstLabel" [lastLabel]="pagination.lastLabel" [rangePerPage]="pagination.rangePerPage"
    [directionLastFirst]="pagination.directionLastFirst" [directionPreviousNext]="pagination.directionPreviousNext"
    (pageChange)="config.currentPage = $event" (perPageChange)="config.itemsPerPage = $event"></pagination-controls>