/* You can add global styles to this file, and also import other style files */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css";
@import 'node_modules/highlight.js/scss/atom-one-dark.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    // width: 100%;
    height: 100%;
    background-color: rgb(88, 88, 88);

}

body {
    height: 100%;
    width: 100%;
    overflow: auto;
    // border: 1px solid blue;
}

// Estilos para component table-sort ------------------------
.tabela-sort-icon-asc {
    width: 1rem;
    height: 1rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" /></svg>');
}

.tabela-sort-icon-desc {
    width: 1rem;
    height: 1rem;
    background-image: url('./assets/seta-baixo.gif');
    background-size: 1rem 1rem;
    background-position: center;
    background-repeat: no-repeat;
}

// -----------------------------------------------------------

// Estilo para tabelas ---------------------------------------

.table-responsive {
    max-width: 500px;
    max-height: 250px;
    // min-height: 250px;
    // position: relative;
    // display: flex;
    // justify-content: center;
    overflow-x: auto;

    &::-webkit-scrollbar {
        width: 0px;
    }

}

@media only screen and (min-width: 600px) {
    .table-responsive {
        min-width: 500px
    }

}

table {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(51, 51, 51);
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;


    thead {
        th {
            padding: 5px;
            color: rgb(233, 233, 233);
            background-color: rgb(88, 88, 88);
        }
    }

    tbody {
        tr {

            th {
                background-color: rgb(51, 51, 51);
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                padding: 5px;
                color: rgb(233, 233, 233);
                fill: rgb(233, 233, 233);
                white-space: nowrap;


                &:not(:last-child) {
                    // border-right: 1px solid rgb(104, 104, 104);
                    box-shadow: inset -1px 0px 0px rgb(104, 104, 104),
                }
            }
        }

    }

    tfoot {
        width: 100%;
        text-align: center;
        background: rgb(104, 104, 104);
        font-size: 0.85rem;

        tr {
            &:nth-child(even) {
                background-color: #747474;
            }


            td {
                padding: 5px;
                color: rgb(233, 233, 233);
            }
        }

    }
}

.people-birthdate {
    border-radius: 100%;
    content: "";
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 0.25rem;

    &.isSame {
        background-color: #109890;
    }

    &.isBirthDay {
        background-color: #453070;
    }

    &.isBefore {
        background-color: #232323;
    }

    &.isAfter {
        background-color: #505050;
    }

}

// -----------------------------------------------------------

.spinner {
    z-index: 100;
    position: absolute;
    // display: block;
    font-size: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
    background-color: rgb(35, 35, 35, 0.5);
    color: #fff;
}

// Estilos para component table-pagination -------------------

.pagination-range {
    &.current-page {
        background-color: #453070;
    }

}

.range-per-page {
    padding: 0.25rem 0.1rem;
    border: 1px solid #101010;
}

// -----------------------------------------------------------